{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block content %}
<section class="flex mx-auto px-4" style="min-height: 68vh;">
  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8 h-100">
    <div class="max-w-lg" style="text-align: justify;">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">About</h2>
      <p class="mt-3 text-gray-600 text-md">
        Vehicle detection is vital in computer vision, especially for autonomous driving, traffic monitoring, and
        surveillance. While segmentation is more accurate, it requires more resources. YOLO (You Only Look Once) is a
        real-time object detection algorithm that balances speed and accuracy.
        <br>
        This system uses the latest YOLOv10 model (as of June 25, 2024) to detect vehicles efficiently. The model is
        trained on a hand-labeled COCO dataset with five classes: car, van, truck, bus, and motorcycle.
        <a id="show-more" class="mt-3 text-red-500 cursor-pointer hover:underline"
          onclick="document.getElementById('show-more').style.display = 'none'; document.getElementById('show-more-text').style.display = 'block';">Show
          more ...</a>
      </p>
      <p class="mt-3 text-gray-600 text-md" id="show-more-text" style="display: none;">
        This GUI allows users to upload images or videos to detect vehicles, providing a user-friendly interface for the
        detection process. It's a part of the final project for
        Computer Vision course at Ton Duc Thang University.
        <a id="show-less" class="mt-3 text-red-500 cursor-pointer hover:underline"
          onclick="document.getElementById('show-more').style.display = 'block'; document.getElementById('show-more-text').style.display = 'none';">Show
          less ...</a>
      </p>
    </div>
    <div class="mt-5 md:mt-0">
      <img src="static/imgs/Vehicle_Detection_descrpt.webp" alt="Vehicle Detection image"
        class="w-full object-cover rounded-lg shadow-md">
    </div>
</section>
{% endblock %}